<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Swiper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'movies:index' %}">
          <h1 class="title">Movie Picker</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'movies:index' %}">Vote</a>
          <a class="navbar-item" href="{% url 'movies:top_movies' %}">Leaderboard</a>
        </div>
      </div>
    </nav>

  <section class="section">
    <div class="container has-text-centered">
      <figure class="image is-inline-block">
        <img class="image" src="{{movie.poster}}"></img>
      </figure>

      </br>
      </br>

      <form method="POST" action=''>
        {% csrf_token %}
        <input type="hidden" name="movie" value="{{movie.id}}" />
        <div class="has-text-centered">
          <button class="button is-danger" name="veto">Veto</button>
          <button class="button" name="skip" onClick="window.location.reload();">Skip</button>
          {% if movie in user.profile.movies_seen.all %}
            <button class="button is-primary" name="like" disabled>Like</button>
          {% else %}
            <button class="button is-primary" name="like">Like</button>
          {% endif %}
        </div>
      </form>
      </br>

      <div class="box">
        <h1 class="title">{{movie.title}}</h1>
        <p>Year: {{movie.year}}</p>
        <p>Runtime: {{movie.runtime}}</p>
        <p>Rated: {{movie.rated}}</p>
        <p>Genre: {{movie.genre}}</p>
        <p>Director: {{movie.director}}</p>
        <p>Actors: {{movie.actors}}</p>
        <p>Language: {{movie.language}}</p>
        <p>Awards: {{movie.awards}}</p>
        <p>Rated: {{movie.rated}}</p>
      </div>

      <div class="box">
        <p>{{movie.plot}}</p>
      </div>

    </div>
  </section>

  <script>history.scrollRestoration = "manual"</script>
  <script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }
  });
  </script>

  </body>
</html>
